.pickply__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: #dbd6ff;
  overflow: hidden;
}

.pickply__content.container {
  position: absolute;
  top: 24%;
  left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: linear-gradient(rgba(255, 255, 255), "#E6E2FF");
}

.word_swiper.container {
  width: 280px;
  height: 100px;
  background-color: white;
  margin-right: 32px;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.word_swiper.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #594e96;
  font-size: 3.6rem;
  font-weight: bolder;
}

.pickply__content.text {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
