.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
